@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	background: #1A1A1A;
	color: #fff;
	padding: 0;
	margin: 0;
  font-family: 'Montserrat';	
}

::-webkit-scrollbar {
	background-color:#5049CC;
	width: 5px;
	height: 0px;
	border-radius: 25px;
}

::-webkit-scrollbar-thumb{
	background-color: #7BADE2/*#98E8C1/*#7BADE2/*#26CEAA*/;
	border-radius: 25px;
}

a, p,h1,h2,h3,h4,h5,h6,span, td{
  font-family: 'Montserrat';
	text-decoration: none;
	/*font-weight: 600;
*/}

a, p, span{
  font-size: 15px;
}

a{
	color: #fff;
}

header {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	top: 0%;
	left: 84%;
	width: 15%;
	padding-top: 15px;
  z-index: 50;
}


/* Гамбургер */
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* зміна гамбургера на х */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню що вилазить */
.menu {
	position: fixed;
	top: 10px;
	left: 60%;
	min-width: 22%;
	min-height: 90%;
	max-width: 45%;
	max-height: 50%;
	padding: 15px;
	background: #292929;
	box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
	border-radius: 5px;
	transform: translateX(150%);
	transition: transform 0.5s; 

	overflow: scroll;
  z-index: 100;
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}



.logo	{
	height: 100px;
	margin: 10px;

	box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
	border-radius: 100%;
}

.log{
	height: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

.bodhome{
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

.bodhome li{
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu h4,hr{
	color: #949494;
	border-color: #949494;
}

.menu h2,span{
	color: #fff;
}


.bcw{
	text-align: center;
	padding: 40px;
}

.content{
  width: 85%;
  margin-left: 10%;
  margin-right: 150%;
	padding: 40px;
 float: left;
  text-align: center;


  /*position: relative;
  left: 10%;*/
  display: block;
}

.bcw123{
	width: 50%;
}


footer{
	font-weight: 200;
	text-align: center;
	color: #fff;
	padding: 25px;
  font-size: 15px;

  display: block;
}

.bodhomeft{
	display: flex;
	justify-content: space-between;
	padding: 25px;
	width: 50%;
margin:0 auto;
}

.block{
	display: flex;
	justify-content: space-between;
	padding: 25px;
	width: 70%;
margin:0 auto;
}

.bod{
	width: 150px;
	text-align: center;
}

 .con1{
	display: flex;
	justify-content: space-between;
margin:0 auto;
	width: 70%;
 }

 .con2{
	display: flex;
	justify-content: space-between;
margin:0 auto;
	width: 50%;
 }

.blocks{
	background: #fff;
	box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
	border-radius: 5px;
	padding: 25px;
	margin: 25px;
	text-align: center;
}


.blocks span{
	color: #000;
	font-weight: 600;
}

.concon{
  width: 20%;
}

.cart{
  width: 200px;
  height: 240px;
  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  float: left;
  margin: 20px;
}

.cartext{
  text-align: center;
  position: relative;
  width: 200px;
  height: 30px;
  left: 0px;
  top: -50px;
  color: #000;
  font-weight: 550;
  border-radius: 0px 0px 5px 5px;

  background: rgba(255, 255, 255, 0.75);
}

.cartimg{
  width: 200px;
}

.nar{
  text-align: left;
}

.nam{
  text-align: left;
  flex: none;
  order: 1;
  flex-grow: 0;
  float: left;
  margin: 20px;
  width: 55%;
  display: block;
}

.topic{
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.topic_min{
  color: #c0c0c0;
  font-size: 20px;
  text-align: left;
}

.topic_text .parar .tablinks .nar{
  font-size: 15px;
}

/*details{
  text-align: left;
}*/

summary::marker {
    content: ' ';
}

.carting{
  width: 150px;
  height: 50px;
  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  text-align: center;
  /*flex: none;
  order: 1;
  flex-grow: 0;
  float: left;*/
  display: inline-block;
  margin: 15px;
  padding: 5px;
  padding-top: 15px;
}

.carting span{
  margin-top: 10px;
  color: #000;
  font-weight: 800;
}

.carras{
  width: 85%;
  margin: 40px;
}

.parar{
  padding: 25px;
 /* text-align: left;*/
}

.card{
  width: 25%;
  /*height: 120px;*/
  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  float: left;
  margin: 20px;
  color: #000;
  text-align: left;
}

.cardnam{
  color: #000;
  font-weight: 800;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
}

.carding{
  color: #4E4E4E;
  font-weight: 600;
  margin: -3% 5% 10% 5%;
}

.cardmat{
  color: #4E4E4E;
  font-weight: 600;
  margin: -3% 5% 10% 5%;
}

.cardnamp{
  color: #000;
  font-weight: 800;
  margin-top: 10px;
  margin: 5px;
  font-size: 20px;
}

.cardzam{
  color: #fff;
  font-weight: 800;
  margin-top: 10px;
  margin: 5px;
  font-size: 20px;
  text-align: left;
}

.cardzag{
  color: #969696;
  font-weight: 600;
  margin-top: 10px;
  margin: 5px;
  font-size: 20px;
  text-align: left;
}


.cardingp{
  color: #4E4E4E;
  font-weight: 600;
  margin-top: -3%;
  margin: 5px;
}

.cardmatp{
  color: #4E4E4E;
  font-weight: 600;
  margin-top: -3%;
  margin: 5px;
}

.cardtexp{
  color: #000;
  font-weight: 600;
  margin: 5px;
}



.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden; 
  transition: all 0.5s ease 0s;
}

body.lock{
  overflow: hidden;
}

.popup_body{
  /*max-height: 60%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin: 50px;*/
  padding: 30px 5px;
  padding-top: 10%;
  /*margin-right: 20%;*/
}

.popup_content{
  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  color: #000;
  max-width: 80%;
  padding: 30px;
  position: relative;
  /*margin-top: 5%;
  margin-bottom: 5%;*/
}

.popup_close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-style: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 800;
  font-style: 20px;
}

.popup.open{
  opacity: 1;
  visibility: visible;
}

.contentp{
  width: 90%;
  margin-right: 150%;
  padding: 40px;
 float: left;
  text-align: center;


  /*position: relative;
  left: 10%;*/
  display: block;
}

.culc{
  text-align: center;
  /*width: 40%;*/
  border-spacing: 0px 15px;
  font-weight: 500;
}

thead{
  font-weight: 800;
}

td{
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  background: #fff;
}

tr{
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  color: #000;
}

.popup_close{
  font-size: 25px;
}

.pararnam{
  text-align: left;
  font-weight: 800;
}

.parartex{
  text-align: left;
}



/* * {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}*/

/* Style the tab */
.tab {
  float: left;
  width: 15%;
  /*height: 700px;
  overflow: scroll;*/
  /*margin-left: 6%;*/
  overflow-y: auto;
  overflow-x: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;/*
  background-color: inherit;*/
  color: black;
  padding: 22px 16px;
  margin: 5%;
  width: 90%;
  /*height: 25px;*/
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;/*
  transition: 0.3s;
  font-size: 17px;*/

  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #98E8C1;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #7BADE2;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  /*height: 700px;*/
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}

.cardnamtab{
  color: #000;
  font-weight: 800;
  margin: -5%;
}

.cardingtab{
  color: #4E4E4E;
  font-weight: 600;
  margin-bottom: -5%;
}

.rj{
  background-color: #1A1A1A;
  border: 0px;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}

input.cardnam{
  border: 0px;
  background-color: #fff;
  width: 65%;
  margin-left: 5%;
  margin-top: 0px;
  border-bottom: 1px solid #000;
}

input.rj{
  width: 50%;
  background-color: #1A1A1A;
  margin: 5%;
  padding: 0%;
  border-bottom: 1px solid #fff;
}

.rj{
  margin: 5%;
  padding: 0%;
}

.text_stand{
  text-align: left;
}

.tablf{
  text-align: left;
}
/*
.carras{
  width: 100%;
  margin-top: 5px;
  display: block;
}*/

.bloo{
  width: 100%;
  display: block;
}

.rood{
  margin-top: 5%;

}

.nammm{
  width: 25%;
  margin: 20px;
}

img.crrr{
  width: 20%;
}

.culcttt table{
  text-align: left;
}

ul{
  text-align: left;
}

/*
.nams{
  width: 80%;
}
.cartings{
  position: absolute;
}

.tab{
  margin-right: 0px;
  padding-right: 0px;
}*/

summary{
  text-align: left;
}

details{
  display: block;
  width: 100%;
}

.topic_text{
  text-align: left;
}

li{
  margin-top: 10px;
  margin-bottom: 10px;
}




































@media screen and (max-width: 1450px) {

.nam{
  width: 100%;
}
.menu{
	left: 50%;
}


.cardnam{
  font-size: 15px;
}

.carding{
  font-size: 12px;
}

.cardmat{
  font-size: 12px;
}
}

@media screen and (max-width: 1200px) {


.menu{
	left: 40%;
}

.bodhomeft{
	width: 70%
}


.card{
  width: 25%;
}

.cardnam{
  font-size: 11px;
}

.carding{
  font-size: 10px;
}

.cardmat{
  font-size: 10px;
}

.culc{
  width: 60%
}

.tab {
  width: 25%;
}

td{
  font-size: 18px;
}

.text_stand{
  font-size: 18px;
}

.nammm{
  width: 40%;
}

}

@media screen and (max-width: 992px) {

header{
  padding: 15px;
}

.bodhome{
	display: block;
}

.bcw123{
	width: 80%;
}

.block{
	display: flex;
	justify-content: space-between;
	padding: 25px;
	width: 90%;
margin:0 auto;
}

.bod{
  padding: 10px;
  text-align: center;
}

.bodhomeft{
	width: 80%
}

footer{
  font-size: 8px;
}

.log{
  height: 8px
}


.content{
  padding: 2px;
  padding-top: 40px;
  /*padding-bottom: 20px;*/

}

.tabs__links a{
  font-size: 8px;
}

.nammm{
  width: 80%
  margin: 100px;
}

.nam{
  width: 95%;
  margin: 0px;
}

.card{
  width: 35%;
}

.cardnam{
  font-size: 11px;
}

.carding{
  font-size: 10px;
}

.cardmat{
  font-size: 10px;
}

.cardzam .cardzag{
  font-style: 16px;
}

.popup_close{
  font-size: 22px;
}

/*.carding{
  color: #4E4E4E;
  font-weight: 600;
  margin: -5% 5% 10% 5%;
}*/

.tab {
  width: 30%;
}
.tabcontent {
  width: 65%;
}

td{
  font-size: 15px;
}

.text_stand{
  font-size: 15px;
}


}

@media screen and (max-width: 767px) {
header{
  left: 78%;
}

.bodhome{
	display: block;
}

h4{
  font-size: 15px;
}

.menu{
	left: 10%;
	min-width: 70%;
	min-height: 90%;
}

.bcw123{
	width: 80%;
}

.bod{
	width: 100px;
  text-align: center;
}

.block{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 95%;
margin:0 auto;
}

.bodhomeft{
	width: 95%
}

.tabcontent{
  width: 100%;
}

.carting span{
  margin-top: -5px;
  font-size: 15px;
}/*lllllllllllllllolllllllll*/



.cart{
  width: 130px;
  height: 160px;
  margin: 10px;
}

.cartext{
  width: 130px;
  height: 20px;
  top: -30px;
  font-weight: 550;
}

.cartext p{
  font-size: 10px;
}


.cartimg{
  width: 130px;
}

.topic_text .parar .tablinks .nar{
  font-size: 10px;
}

/*.nammm{
  height: 240px;
}*/

footer a, span{
  font-size: 8px;
}/*

.carting{
  width: 75px;
  height: 40px;
}*/ 

.card{
  width: 60%;
}

.culc{
  width: 75%
}

.popup_close{
  font-size: 25px;
}



.tab{
  width: 80%
}

td{
  font-size: 13px;
}


.text_stand{
  font-size: 13px;
}

}


@media (max-width: 576px){
.tabs__links {
  width: 40%;
  padding: 0;
}

.content{
  width: 80%;
  left: 15%;

}

.cart{
  width: 100px;
  height: 120px;
  margin: 10px;
}

.cartext{
  width: 100px;
  height: 15px;
  top: -28px;
  font-weight: 550;
}

.cartext p{
  font-size: 8px;
}

h4{
  font-size: 10px;
}

.cartimg{
  width: 100px;
}

.culc{
  width: 90%
}



td{
  font-size: 11px;
}

.text_stand{
  font-size: 11px;
}


}