@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	background: #1A1A1A;
	color: #fff;
	padding: 0;
	margin: 0;
  font-family: 'Montserrat';	
}

::-webkit-scrollbar {
	background-color:#5049CC;
	width: 5px;
	height: 0px;
	border-radius: 25px;
}

::-webkit-scrollbar-thumb{
	background-color: #7BADE2/*#98E8C1/*#7BADE2/*#26CEAA*/;
	border-radius: 25px;
}

a, p,h1,h2,h3,h4,h5,h6,span, td{
  font-family: 'Montserrat';
	text-decoration: none;
	/*font-weight: 600;
*/}

a, p, span{
  font-size: 15px;
}

a{
	color: #fff;
}

.nzd {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0%;
  right: 95%;
  width: 15%;
  padding-top: 15px;
  z-index: 150;
}

.nzd-btn {
  height: 30px;
  position: relative;
  overflow: hidden;
}


header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0%;
  left: 95%;
 /* width: 15%;*/
  padding-top: 15px;
  z-index: 150;
}


/* Гамбургер */
.menu-btn {
  width: 30px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* зміна гамбургера на х */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню що вилазить */
.menu {
	position: fixed;
	top: 10px;
	left: 57%;
	min-width: 22%;
	min-height: 90%;
	max-width: 45%;
	max-height: 50%;
	padding: 15px;
	background: #292929;
	box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
	border-radius: 5px;
	transform: translateX(150%);
	transition: transform 0.5s; 

	overflow: scroll;
  z-index: 100;
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}



.logo	{
	height: 100px;
	margin: 10px;
  margin-right: 20px;

	box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
	border-radius: 100%;
}

.log{
	height: 15px;
	padding-left: 5px;
	padding-right: 5px;
}

.bodhome{
	display: flex;
	justify-content: space-between;
	padding: 25px;
}

.bodhome li{
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu h4,hr{
	color: #949494;
	border-color: #949494;
}

.menu h2,span{
	color: #fff;
}

.carsimg:hover{
  width: 220px;
}

.log:hover{
  height: 20px;
}

.logo:hover{
  height: 120px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}



.bcw{
	text-align: center;
	padding: 40px;
}

.content{
  width: 90%;
  margin-top: 70px;
  margin-left: 5%;
  margin-right: 5%;
  margin-right: 150%;
  /*display: block;*/
  /*margin-left: auto;
  margin-right: auto
	/*padding: 30px;*/
 /*float: left;
  text-align: center;


  /*position: relative;
  left: 10%;*/
  display: block;
}

.bcw123{
	width: 50%;
}


footer{
	font-weight: 200;
	text-align: center;
	color: #fff;
	padding: 25px;
  font-size: 15px;

  display: block;
}

.bodhomeft{
	display: flex;
	justify-content: space-between;
	padding: 25px;
	width: 50%;
margin:0 auto;
}

.block{
	display: flex;
	justify-content: space-between;
	padding: 25px;
	width: 70%;
margin:0 auto;
}

.bod{
	width: 150px;
	text-align: center;
}

 .con1{
	display: flex;
	justify-content: space-between;
margin:0 auto;
	width: 70%;
 }

 .con2{
	display: flex;
	justify-content: space-between;
margin:0 auto;
	width: 50%;
 }

.blocks{
	background: #fff;
	box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
	border-radius: 5px;
	padding: 25px;
	margin: 25px;
	text-align: center;
}


.blocks span{
	color: #000;
	font-weight: 600;
}

.concon{
  width: 20%;
}

.cart{
  width: 200px;
  height: 240px;
  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  float: left;
  margin: 20px;
}

.cartext{
  text-align: center;
  position: relative;
  width: 200px;
  height: 30px;
  left: 0px;
  top: -50px;
  color: #000;
  font-weight: 550;
  border-radius: 0px 0px 5px 5px;

  background: rgba(255, 255, 255, 0.75);
}

.cartimg{
  width: 200px;
}


.cars{
  width: 200px;
  height: 200px;
  /*background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;*/
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  float: left;
  margin: 60px;
}


.carstex p{
  text-align: center;
  position: relative;
  font-size: 20px;
  font-style: 900;
}

.carsimg{
  width: 200px;
}

.nar{
  text-align: left;
}

.nam{
  flex: none;
  order: 1;
  flex-grow: 0;
  float: left;
  margin: 20px;
  width: 55%;
  display: block;
}

.nam2{
  text-align: left;
  margin-bottom: 70px;
}

.topic{
  font-size: 30px;
  font-weight: 600;
  text-align: left;
}

.topic_min{
  color: #c0c0c0;
  font-size: 20px;
  text-align: left;
}

.topic_text .parar .tablinks .nar{
  font-size: 15px;
}

/*details{
  text-align: left;
}*/

summary::marker {
    content: ' ';
}

/*.cardt{
  width: auto;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}*/

.carting{
  width: 200px;
  height: 50px;

  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  text-align: center;
  /*flex: none;
  order: 1;
  flex-grow: 0;
  float: left;*/
  display: inline-block;
  margin: 15px;
  padding: 5px;
  padding-top: 15px;
}

.carting span{
  margin-top: 10px;
  color: #000;
  font-weight: 800;
}

.cartor span{
  margin-top: 10px;
  color: #000;
  font-weight: 600;
}

.cartor:hover {
  background-color: #98E8C1;
  }

.cartor{
  width: 200px;
  height: 60px;

  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  text-align: center;
  /*flex: none;
  order: 1;
  flex-grow: 0;
  float: left;*/
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

/*.carras{
  width: 95%;
  margin-right: 5%;
  margin-left: 5%;
 /*margin-top: 15%;/
}*/

.parar{
  padding: 25px;
 /* text-align: left;*/
}

.inp{
  width: 100%;
  /*height: 25px;*/
  background: #1D1D1D/*252525/*1a1a1a/*fff*/;
  color: #fff;
  border: none;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.2);
  padding: 10px;
  /*box-shadow: 0px 0px 10px #000000, -3px -3px 0px #26CEAA, 3px 3px 0px #5049CC;*/
  border-radius: 5px;
  font-size: 15px;
}

.inp:hover{
  background: #252525/*1a1a1a/*fff*/;
  }

.inpk{
  width: 2%;
}

.imgspell{
  float: left;
  width: 15%;
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 5%;
}

.searchableу {
  display: block;
  margin-bottom: 20px;
}

.card{
  width: 25%;
  /*height: 120px;*/
  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  float: left;
  margin: 20px;
  color: #000;
  text-align: left;
}

.cardspell{
  width: 25%;
  /*height: 120px;*/
  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  flex: none;
  order: 1;
  flex-grow: 0;
  float: left;
  margin: 20px;
  color: #000;
  text-align: left;
}

.cardnam{
  color: #000;
  font-weight: 800;
  margin-top: 8%;
  margin-right: 5%;
  margin-left: 5%;
}

.carding{
  color: #4E4E4E;
  font-weight: 600;
  margin: -3% 5% 5% 5%;
}

.cardmat{
  color: #4E4E4E;
  font-weight: 600;
  margin: -3% 5% 10% 5%;
}

.cardnamp{
  color: #000;
  font-weight: 800;
  margin-top: 10px;
  margin: 5px;
  font-size: 20px;
}

.cardzam{
  color: #fff;
  font-weight: 800;
  margin-top: 10px;
  margin: 5px;
  font-size: 20px;
  text-align: left;
}

.cardzag{
  color: #969696;
  font-weight: 600;
  margin-top: 10px;
  margin: 5px;
  font-size: 20px;
  text-align: left;
}

.inpimg{
  width: 20px;
  display: block;
  /*margin: 0 auto;*/
  float: right;
  margin: 0 0 10px 10px;
}

.cardingp{
  color: #4E4E4E;
  font-weight: 600;
  margin-top: -3%;
  margin: 5px;
  font-size: 18px;
}

.cardmatp{
  color: #4E4E4E;
  font-weight: 600;
  margin-top: -3%;
  margin: 5px;
}

.cardmatp b{
  color: #1F1F1F;
}

.cardtexp{
  color: #000;
  font-weight: 600;
  margin: 5px;
}



.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden; 
  transition: all 0.5s ease 0s;
}

body.lock{
  overflow: hidden;
}

.popup_body{
  /*max-height: 60%;*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin: 50px;*/
  padding: 30px 5px;
  padding-top: 10%;
  /*margin-right: 20%;*/
}

.popup_content{
  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  color: #000;
  max-width: 80%;
  padding: 30px;
  position: relative;
  text-align: left;
  /*margin-top: 5%;
  margin-bottom: 5%;*/
}

.popup_close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-style: 20px;
  color: #000;
  text-decoration: none;
  font-weight: 800;
  font-style: 20px;
}

.popup.open{
  opacity: 1;
  visibility: visible;
}

.contentp{
  width: 90%;
 margin-right: 150%;
  padding: 40px;
 float: left;
  text-align: center;


  /*position: relative;
  left: 10%;*/
  display: block;
}

.culc{
  text-align: center;
  /*width: 40%;*/
  border-spacing: 0px 15px;
  font-weight: 500;
}

thead{
  font-weight: 800;
}

td{
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  background: #fff;
}

tr{
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  border-radius: 5px;
  color: #000;
}

.tabl2{
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #26CEAA, 5px 5px 0px #5049CC;
}

.pararss{
   display: none;
}

.popup_close{
  font-size: 25px;
}

.pararnam{
  text-align: left;
  font-weight: 800;
}

.pararnamim{
  text-align: left;
  font-weight: 400;
}

.parartex{
  text-align: left;
}



/* * {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}*/

/* Style the tab */
.tab {
  float: left;
  width: 15%;
  /*height: 700px;
  overflow: scroll;*/
  /*margin-left: 6%;*/
  overflow-y: auto;
  overflow-x: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;/*
  background-color: inherit;*/
  color: black;
  padding: 22px 16px;
  margin: 5%;
  width: 90%;
  /*height: 25px;*/
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;/*
  transition: 0.3s;
  font-size: 17px;*/

  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  margin-bottom: 15px;
  border-radius: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #98E8C1;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #7BADE2;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 70%;
  border-left: none;
  /*height: 700px;*/
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
}

.cardnamtab{
  color: #000;
  font-weight: 800;
  margin: -5%;
}

.cardingtab{
  color: #4E4E4E;
  font-weight: 600;
  margin-bottom: -5%;
}

.rj{
  background-color: #1A1A1A;
  border: 0px;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}

input.cardnam{
  border: 0px;
  background-color: #fff;
  width: 65%;
  margin-left: 5%;
  margin-top: 0px;
  border-bottom: 1px solid #000;
}

input.rj{
  width: 50%;
  background-color: #1A1A1A;
  margin: 5%;
  padding: 0%;
  border-bottom: 1px solid #fff;
}

.rj{
  margin: 5%;
  padding: 0%;
}

.text_stand{
  text-align: left;
}

.tablf{
  text-align: left;
}
/*
.carras{
  width: 100%;
  margin-top: 5px;
  display: block;
}*/

.bloo{
  width: 100%;
  display: block;
}

.tabl1{
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #26CEAA, 0px 0px 0px #5049CC;
  border-radius: 0px;
  color: #000;
}  

.blood{

  width: 100%;
  margin-left: 5%;
  margin-right: 150%;
  /*display: block;*/
  /*margin-left: auto;
  margin-right: auto
  /*padding: 30px;*/
 /*float: left;
  text-align: center;


  /*position: relative;
  left: 10%;*/
  display: block;
}

.rood{
  margin-top: 5%;

}

.nammm{
  width: 20%;
  margin-bottom: 6%;
}

img.crrr{
  width: 20%;
}

.culcttt table{
  text-align: left;
}

ul{
  text-align: left;
}

/*
.nams{
  width: 80%;
}
.cartings{
  position: absolute;
}

.tab{
  margin-right: 0px;
  padding-right: 0px;
}*/

summary{
  text-align: left;
}

details{
  display: block;
  width: 100%;
}

.topic_text{
  text-align: left;
}

li{
  margin-top: 10px;
  margin-bottom: 10px;
}

.hidex{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hidey{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hidef{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hideh{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hidej{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hidek{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hidem{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hidep{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hideq{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hider{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hidet{
  animation-name: a1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes a1{
  to {
    opacity:0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  position: fixed;
  top: 150%;
  right: 150%;
  }
}

.filt{
  display: inline-block;
  /*border: 1px solid  #fff;*/
  /*min-height: 50px;
  min-width: 50px;*/
  margin: 10px;


  color: black;
  padding: 10px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;/*
  transition: 0.3s;
  font-size: 17px;*/

  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  margin-bottom: 15px;
  border-radius: 5px;
}

.hides{
  display: none;
}

.pfil{
  text-align: left;
  font-weight: 600;
  font-size: 18px;
}

.spell{
  width: 20%;
  overflow-y: auto;
  height: 100px;
}

.spellingf li.active {
  background-color: #7bade2;
}


.spellingj li.active {
  background-color: #7bade2;
}



.spellingy li.active {
  background-color: #7bade2;
}


.spellingh li.active {
  background-color: #7bade2;
}


.spellingx li.active {
  background-color: #7bade2;
}


.spellingk li.active {
  background-color: #7bade2;
}


.spellingm li.active {
  background-color: #7bade2;
}


.spellingp li.active {
  background-color: #7bade2;
}


.spellingq li.active {
  background-color: #7bade2;
}


.spellingr li.active {
  background-color: #7bade2;
}


.spellingt li.active {
  background-color: #7bade2;
}

.spellingf li:hover{
  background-color: #98e8c1;
}

.spellingj li:hover{
  background-color: #98e8c1;
}

.spellingy li:hover{
  background-color: #98e8c1;
}

.spellingh li:hover{
  background-color: #98e8c1;
}

.spellingx li:hover{
  background-color: #98e8c1;
}

.spellingk li:hover{
  background-color: #98e8c1;
}

.spellingm li:hover{
  background-color: #98e8c1;
}

.spellingp li:hover{
  background-color: #98e8c1;
}

.spellingq li:hover{
  background-color: #98e8c1;
}

.spellingr li:hover{
  background-color: #98e8c1;
}

.spellingt li:hover{
  background-color: #98e8c1;
}

.cardspell:hover{
  background-color: #98e8c1;
}

.card:hover{
  background-color: #98e8c1;
}

.cart:hover{
  background-color: #98e8c1;
}

input.cardnam{
  background: rgba(255, 255, 255, 0);
}

input:focus {
    outline: none;
}

select {
    color: red; /* змінює колір стрілочок на червоний */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.spelll{
  color: #7bade2;
  /*padding: 5px;
  border-radius: 5px;
  background-color:#5049CC /*#26CEAA;*/
}

.spelllw{
  color: #5049CC;
  /*padding: 5px;26CEAA
  border-radius: 5px;
  background-color:#5049CC /*#26CEAA;*/
}


/*.carting:hover{
  background-color: #7bade2;
}*/

.tbcls{
  color: #000;
}

.tbclss{
  color: #5049CC
  
}

a.tikk span {
  display: none;
}
a.tikk:hover {
    position: relative
}

a.tikk:hover span {
  border: #c0c0c0 1px dotted;
  padding: 5px 20px 5px 5px;
  display: block;
  z-index: 100;
  left: 20%;
  margin-top: 10%;
  width: 60%;
  max-height: 60%;
  overflow: scroll;
  position: fixed;
  top: 10px;
  color: #000;
  background: #fff;
  box-shadow: 0px 0px 10px #000000, -5px -5px 0px #26CEAA, 5px 5px 0px #5049CC;
  text-align: left;
}






















































































































@media screen and (max-width: 1450px) {

/*.nam{
  width: 100%;
}*/
.menu{
	left: 50%;
}

.spelll{
  font-size: 15px;
}

.cardnam{
  font-size: 15px;
}

.spell{
  height: 90px;
}

.carding{
  font-size: 12px;
}

.cardmat{
  font-size: 12px;
}
}

@media screen and (max-width: 1200px) {


.menu{
	left: 40%;
}

.spelll{
  font-size: 15px;
}

.bodhomeft{
	width: 70%
}


.card{
  width: 25%;
}

.cardnam{
  font-size: 11px;
}

.spell{
  height: 85px;
}

.carding{
  font-size: 10px;
}

.cardmat{
  font-size: 10px;
}

.culc{
  width: 60%
}

.tab {
  width: 25%;
}

td{
  font-size: 18px;
}

.text_stand{
  font-size: 18px;
}

.nammm{
  width: 35%;
}

}

@media screen and (max-width: 992px) {

header{
  /*padding: 15px;*/
  left: 90%
}

.spelll{
  font-size: 15px;
}

.bodhome{
	display: block;
}

.bcw123{
	width: 80%;
}

.block{
	display: flex;
	justify-content: space-between;
	padding: 25px;
	width: 90%;
margin:0 auto;
}

.bod{
  padding: 10px;
  text-align: center;
}

.bodhomeft{
	width: 80%
}

footer{
  font-size: 8px;
}

.log{
  height: 8px;
}

.log{
  height: 10px;
}


.content{
  padding: 2px;
  padding-top: 40px;
  /*padding-bottom: 20px;*/
 /* width: 90%;
  margin-left: 5%;
  margin-right: 150%;
*/
}

.tabs__links a{
  font-size: 8px;
}

.spelll{
  font-size: 15px;
}

.nammm{
  width: 80%
  margin: 100px;
}

.nam{
  width: 95%;
  margin: 0px;
}

.card{
  width: 35%;
}

.cardnam{
  font-size: 11px;
}

.spell{
  width: 27%;
  overflow-y: auto;
  height: 60px;
}

.carding{
  font-size: 10px;
}

.cardmat{
  font-size: 10px;
}

.cardzam .cardzag{
  font-style: 16px;
}

.popup_close{
  font-size: 22px;
}

/*.carding{
  color: #4E4E4E;
  font-weight: 600;
  margin: -5% 5% 10% 5%;
}*/

.tab {
  width: 30%;
}
.tabcontent {
  width: 65%;
}

td{
  font-size: 15px;
}

.text_stand{
  font-size: 15px;
}

.cart{
  width: 143px;
  height: 171px;
  margin: 10px;
}

.cartext{
  width: 143px;
  height: 20px;
  top: -35px;
  font-weight: 550;
}

.cartext p{
  font-size: 12px;
}

.cartimg{
  width: 143px;
}


}

@media screen and (max-width: 767px) {


.nzd {
  right: 90%;
}

.spelll{
  font-size: 15px;
}

.bodhome{
	display: block;
}

h4{
  font-size: 15px;
}

.menu{
	left: 10%;
	min-width: 70%;
	min-height: 90%;
}

.bcw123{
	width: 80%;
}

.bod{
	width: 100px;
  text-align: center;
}

.block{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 95%;
margin:0 auto;
}

.bodhomeft{
	width: 95%
}

.tabcontent{
  width: 100%;
}

.carting span{
  margin-top: -5px;
  font-size: 15px;
}/*lllllllllllllllolllllllll*/



.cars{
  width: 150px;
  height: 150px;
  margin: 20px;
}


.carstex p{
  font-size: 10px;
}

.carsimg{
  width: 150px;
}


.carsimg:hover{
  width: 180px;
}

.topic_text .parar .tablinks .nar{
  font-size: 10px;
}

.nammm{
  width: 60%;
}

footer a, span{
  font-size: 8px;
}/*

.carting{
  width: 75px;
  height: 40px;
}*/ 

.card{
  width: 60%;
}

.culc{
  width: 75%
}

.popup_close{
  font-size: 25px;
}



.tab{
  width: 80%
}

td{
  font-size: 13px;
}


.text_stand{
  font-size: 13px;
}

.spell{
  width: 43%;
  height: 80px;
}

.popup_body{
  padding-top: 20%;
}

}


@media (max-width: 576px){
.tabs__links {
  width: 40%;
  padding: 0;
}

.spelll{
  font-size: 15px;
}

header{
  left: 80%;
}

.content{
  width: 80%

}

.cart{
  width: 100px;
  height: 120px;
  margin: 10px;
}

.cartext{
  width: 100px;
  height: 15px;
  top: -27px;
  font-weight: 550;
}

.cartext p{
  font-size: 8px;
}

.cartimg{
  width: 100px;
}


.cars{
  width: 100px;
  height: 100px;
  
}


.carstex p{
  font-size: 8px;
}

.carsimg{
  width: 100px;
}


.carsimg:hover{
  width: 120px;
}

h4{
  font-size: 10px;
}

.culc{
  width: 90%
}



td{
  font-size: 11px;
}

.text_stand{
  font-size: 11px;
}


.nzd {
  right: 85%;
}

.spell{
  width: 90%;
  height: 75px;
}

}